*{
    margin: 0;
    padding: 0;
}
.pro{
    width: 100%;
}
.navi{
    display:inline-block;
    width: 100%;
    height: 15vh;
    /* border: 1px solid black;   */
    background-color: white;  
}
.logo{
    display:inline-block;
    margin-left: 32vw;
    width: 30vw;
    height: 20vh;
    /* border: 1px solid black; */
    background-image: url(../img/logo.jpg.png);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-position: center; */
}
.list{
    display:inline-block;
    margin-left: 25vw;
    width: 10vw;
    height: 5.5vh;
    /* border: 1px solid black;   */
}
.list li{
    float: left;
    list-style:none;
    font-size: larger;
    margin-left: 15px;  
    height: 25px;
    width: 25px;
    /* border: 1px solid black; */
}
.search{
    background-image: url(../img/search.png);
    background-size:100% 100%;
    background-size:cover;
}
li{
    cursor: pointer;
}
.my{
    background-image: url(../img/my.png);
    background-size:100% 100%;
    background-size:cover;
}
.order{
    background-image: url(../img/home.png);
    background-size:100% 100%;
    background-size:cover;
}

.findmess{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: larger;
    margin-left: 5%;
}
.easytype{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* background-color: gray; */
}
.lead,.types{
    text-align:center;
    width: 10vw;
    height: 100%;
    /* border: 1px solid black; */
    line-height: 300%;
}
.types{
    color: gray;
}
.types a {
    color: gray; 
    text-decoration-line: none;
}
.types a:hover{
    color: black;
}
.searchdiv{
    display: flex;
    width: 100%;
    height: 15vh;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: white;
    /* display: none; */
}
.searchdiv0{
    width: 100%;
    height: 23vh;
}
.find{
    width: 5%;
    height: 40%;
    /* border: 1px solid black; */
    margin-left: 4%;
    margin-top: 2%;
    text-align: center;
    line-height: 260%;
    border-radius: 10px;
    background-color: RGB(0,0,128,0.7);
    color: white;
}
.close{
    width: 1%;
    height: 15%;
    /* border: 1px solid black; */
    margin-top: 3%;
    margin-left: 3%;
    background-image: url(../img/close.png);
    background-size:100% 100%;
    background-size:cover;
    background-position: center;
    cursor: pointer;
}
.goodsinfo{
    width:100%;
    height: 80vh;
    overflow: hidden;
    /* border: 1px solid black; */
    background-color: rgba(243, 243, 243);
    display: flex;
}
.goodsimg{
    width: 30vw;
    height:65vh;
    /* border: 1px solid black; */
    margin-left: 6vw;
    margin-top: 5vh;
}
.goodimg1{
    width: 30vw;
    height: 50vh;
    /* border: 1px solid black; */
 
}
.goodimg2{
    width: 30vw;
    height: 50vh;
    /* border: 1px solid black; */
 
}
.goodimg1 img{
    width: 100%;
    height: 100%;
}
.goodimg2 img{
    width: 100%;
    height: 100%;
}
.selectimg{
    width: 100%;
    height: 7vh;
    /* border: 1px solid black; */
    margin-top: 8vh;
    display: flex;
}
.color1{
    color: white;
    line-height: 300%;
    text-align: center;
    width: 50%;
    /* border: 1px solid black; */
    border-right: 1px solid black;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: blue;
}
.color2{
    color: white;
    line-height: 300%;
    text-align: center;
    width: 50%;
    /* border: 1px solid black; */
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: RGB(0,0,128);

}
.color3{
    color: black;
    line-height: 300%;
    text-align: center;
    width: 20%;
    border: 1px solid black;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgba(243, 243, 243);
}
.color4{
    color: black;
    line-height: 300%;
    text-align: center;
    width: 20%;
    border: 1px solid black;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /*background-color: gray;*/
}
.zs{
    text-decoration:none;
    color: black;
}
.zs:hover{
    /* text-decoration:underline; */
    color: blue;
}
.buyinfo{
    margin-top: 5vh;
    margin-left: 6vw;
    width: 50vw;
    height: 70vh;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 20px;
}
.goodinfo{
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: white; */
    
}
.title{
    height: 20vh;
    width: 30vw;
    margin: auto;
    margin-top: 3vh;
    height: 7vh;
    width: 40vw;
    /* border: 1px solid black; */
    text-align: center;
}
.tab{
    margin: auto;
    margin-top: 40px;
    /* width: 80%; */
    /* border: 1px solid black; */
    border-spacing: 0 25px;
}
.in2{
    border-bottom: 1px solid gray;
    width: 250px;
    height: 30px;
    overflow: hidden;
    /* border-radius: 20px; */
    display:flex;
    outline: none;
}
.in3{
    border-bottom: 1px solid gray;
    width: 250px;
    height: 150px;
    overflow: hidden;
    /* border-radius: 20px; */
    display:flex;
    outline: none;
}
.in2:hover{
    border-bottom: 1px solid cornflowerblue;
}
.username,.aid,.call1,.place{
    outline: none;
    border: none;
}
.btn1{
    width: 150px;
    height: 50px;
    margin: auto;
    margin-left: 220px;
    border: none;
    color: white;
    background-color: RGB(0,0,128,0.7);
    cursor: pointer;
}
.btn2{
    width: 150px;
    height: 50px;
    margin: auto;
    margin-left: 30px;
    border: none;
    color: white;
    background-color: RGB(0,0,128,0.7);
    cursor: pointer;
}
.truebuy{
    position: absolute;
    top: 22vh;
    left: 35vw;
    width: 30vw;
    height: 65vh;
    /* border: 1px solid black; */
    background-color: RGB(255,255,255);
}
.truebuy img{
    width: 100%;
    height: 100%;
}
.close11{
    width: 15px;
    height: 15px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    /* background-color: black;/ */
    background-image: url(../img/close.png);
    background-size:80% 80%;
    background-size:cover;
    background-position: center;
    cursor: pointer;

}
.tab1{
    margin: auto;
    margin-top: 20px;
    /* width: 80%; */
    /* border: 1px solid black; */
    border-spacing: 0 20px;
}
.title1{
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.btn3{
    width: 150px;
    height: 50px;
    margin: auto;
    margin-left: 150px;
    border: none;
    color: white;
    background-color: RGB(0,0,128,0.7);
    cursor: pointer;
}
.bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25vh;
    /* border-top: 1px solid gray;
    border-bottom: 1px solid gray; */
}
.bottom a{
    color: gray;
    text-decoration: none;
}
.join,.call,.afterservice{
    text-align: center;
    margin: auto;
    width: 25vw;
    height: 25vh;
    /* border: 1px solid black; */
    cursor: pointer;

}

.bottom h1{
    margin-top: 2vh;
}
.bottom p{
   line-height: 120%;
}
.tinfo{
    margin-top: 5vh;
}
.litt{
    margin-top: 5vh;
    color: gray;
}
.litt a:hover{
    color:black;
}