<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="icon" th:href="@{/img/default.ico}" type="image/x-icon">
</head>
<body>
<form class="layui-form layui-form-pane" action="">
    <div style="margin-top: 5px; margin-left: 5px">
        系列
        <div class="layui-inline">

            <select name="classifyId" id="classifyId" class=" ayui-unselect" lay-filter="classify">
                <option value="0">全部</option>
            </select>
        </div>
        商品名
        <div class="layui-inline">
            <input class="layui-input" name="gname" id="sname" type="text">
        </div>
        <button type="submit" class="layui-btn" id="search" lay-submit lay-filter="search" >搜索</button>
        <button class="layui-btn" lay-event="refresh" onclick="refresh()">刷新</button>
    </div>
</form>


<table id="test" lay-filter="testfilter"></table>

<script id="toolbar" type="text/html">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script id="h_toolbar" type="text/html">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="insert">新增</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除所选内容</button>

    </div>
</script>

<script th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>q

<script th:inline="javascript">

    function reset(){
        $("#search").click()
    }

    function refresh(){
        $('input').attr("value","")
        reset()
    }


    let contextpath = [[@{/}]];

        layui.use(['table','form','layer'],function () {
            var table = layui.table;
            var form = layui.form;


            table.render({
                elem:'#test',
                id:"goods_list",
                url: contextpath  + 'admin/goods/list_goods',
                page:true,
                limit:10,
                // toolbar: '#h_toolbar',
                cols: [
                    [
                        // {type: 'checkbox', fixed: 'left'},
                        {field: 'gno', title:'商品ID', sort: true},
                        {field: 'gname',title: '商品名'},
                        {field: 'gmaterial',title: '材料'},
                        {field: 'gbrand',title: '品牌'},
                        {field: 'gweight',title: '重量',sort: true},
                        {field: 'gprice',title: '价格', sort: true},
                        {fixed: 'right',title: '操作', toolbar: '#toolbar', align:'center'}
                    ]
                ]

            })
            // 头部工具栏
            table.on('toolbar(testfilter)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'insert':

                        layer.msg('添加');
                        break;
                    case 'del':
                        var checkStatus = table.checkStatus('shop_list'); //idTest 即为基础参数 id 对应的值
                        if (checkStatus.data.length == 0){
                            layer.alert("您未选中任何数据", {icon: 2, anim: 6, title : '警告'});
                            return false
                        }

                        var ary = new Array();
                        $(checkStatus.data).each(function () {
                            ary.push(this.sno)
                        })
                        layer.confirm('确定删除这些数据?',{icon: 3, title:'删除确认'},function (index) {
                            var url = contextpath + 'admin/shop/batchDelete'
                            var params={
                                "snos":JSON.stringify(ary)

                            }
                            console.log(params)
                            $.post(url,params,function (response) {
                                if (response == 0){
                                    layer.msg("有数据删除失败!", {icon: 2, anim: 6});
                                    table.reload('shop_list')
                                }else {
                                    layer.msg("删除成功", {icon: 1, time: 1500});
                                    table.reload('shop_list')
                                }
                            })
                            layer.close(index)
                        })
                        break;


                };
            });
            // 多选框
            table.on('checkbox(testfilter)', function (obj) {

            });

            // 工具条
            table.on('tool(testfilter)', function(obj){
                var data = obj.data;
                //console.log(obj)
                if(obj.event === 'del'){
                    layer.confirm('真的删除行么', function(index){
                        var url = contextpath + "admin/goods/delete"
                        console.log(data.sno)
                        var params={
                            "gno" : data.gno
                        }
                        $.post(url,params, function (response) {
                            if (response == 0){
                                layer.msg("删除失败")

                            }else {
                                layer.msg("删除成功")
                                table.reload('goods_list');
                            }
                        })

                        layer.close(index);
                    });
                } else if(obj.event === 'edit'){
                    layer.open({
                        type: 2,
                        area:['500px','500px'],
                        title:'编辑',
                        content: contextpath + "admin/goods/edit?gno=" + data.gno
                    })

                }
            });

            form.on('submit(search)', function (data) {

                console.log(data)
                table.reload('goods_list',{
                    page: {
                        curr: 1
                    },
                    where:{
                        "search" : data.field.gname
                    }
                }, 'data')
                return false;
            });

            form.on('select(classify)',function (data) {

                console.log(data)
                if (data.value == 0) {
                    table.reload('goods_list', {

                        url: contextpath  + 'admin/goods/list_goods',
                        method: 'post',
                        page: {
                            curr: 1
                        }

                    }, 'data')
                } else {

                    table.reload('goods_list', {

                        url: contextpath + "admin/goods/bySeries",
                        method: 'post',
                        page: {
                            curr: 1
                        },
                        where: {
                            "series": data.value
                        }
                    }, 'data')
                }
                return false;

            })
        })
</script>

<script th:inline="javascript">
    function getclassify(){
        var url = contextpath + "admin/goods/getseries"

        $.post(url,function (response) {
            console.log(response[0])
            console.log(response.length)
            for (var i =  0; i < response.length; i++){
                $("#classifyId").append("<option value=\"" + response[i].seriesid + "\">" + response[i].name + "</option>")
            }
            layui.form.render("select");


        })
    }

    layui.use('form',function () {
        getclassify()
    })
</script>

</body>
</html>