<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="icon" th:href="@{/img/default.ico}" type="image/x-icon">
</head>
<body>
<form class="layui-form layui-form-pane" action="">
    <div style="margin-top: 5px; margin-left: 5px">
        订单ID
        <div class="layui-inline">
            <input class="layui-input" name="oid" id="sname" type="text">
        </div>
        <button type="submit" class="layui-btn" id="search" lay-submit lay-filter="search" >搜索</button>
        <button class="layui-btn" lay-event="refresh" onclick="refresh()">刷新</button>
    </div>
</form>


<table id="test" lay-filter="testfilter"></table>

<script id="toolbar" type="text/html">
    <a class="layui-btn layui-btn-xs" lay-event="del">发货</a>
<!--    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
</script>

<script id="h_toolbar" type="text/html">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="insert">新增</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除所选内容</button>

    </div>
</script>

<script th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>

<script th:inline="javascript">

    function reset(){
        $("#search").click()
    }

    function refresh(){
        $('input').attr("value","")
        reset()
    }


    let contextpath = [[@{/}]];

        layui.use(['table','form','layer'],function () {
            var table = layui.table;
            var form = layui.form;


            table.render({
                elem:'#test',
                id:"shop_list",
                url: contextpath  + 'admin/order/list_order',
                page:true,
                limit:10,
                // toolbar: '#h_toolbar',
                cols: [
                    [
                        // {type: 'checkbox', fixed: 'left'},
                        {field: 'oid', title:'订单ID', sort: true},
                        {field: 'gname',title: '商品名'},
                        {field: 'gprice',title: '商品价格',sort: true},
                        {field: 'gbig',title: '样式'},
                        {field: 'pname',title: '收件人姓名'},
                        {field: 'pcall',title: '电话号码'},
                        {field: 'oplace',title: '收货地址'},
                        {field: 'stat',title: '状态'},
                        {fixed: 'right',title: '操作', toolbar: '#toolbar', align:'center'}
                    ]
                ]

            })
            // 头部工具栏
            table.on('toolbar(testfilter)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'insert':

                        layer.msg('添加');
                        break;
                    case 'del':
                        var checkStatus = table.checkStatus('shop_list'); //idTest 即为基础参数 id 对应的值
                        if (checkStatus.data.length == 0){
                            layer.alert("您未选中任何数据", {icon: 2, anim: 6, title : '警告'});
                            return false
                        }

                        var ary = new Array();
                        $(checkStatus.data).each(function () {
                            ary.push(this.sno)
                        })
                        layer.confirm('确定删除这些数据?',{icon: 3, title:'删除确认'},function (index) {
                            var url = contextpath + 'admin/shop/batchDelete'
                            var params={
                                "snos":JSON.stringify(ary)

                            }
                            console.log(params)
                            $.post(url,params,function (response) {
                                if (response == 0){
                                    layer.msg("有数据删除失败!", {icon: 2, anim: 6});
                                    table.reload('shop_list')
                                }else {
                                    layer.msg("删除成功", {icon: 1, time: 1500});
                                    table.reload('shop_list')
                                }
                            })
                            layer.close(index)
                        })
                        break;


                };
            });
            // 多选框
            table.on('checkbox(testfilter)', function (obj) {

            });

            // 工具条
            table.on('tool(testfilter)', function(obj){
                var data = obj.data;
                //console.log(obj)
                if(obj.event === 'del'){
                    layer.confirm('是否发货', function(index){
                        var url = contextpath + "admin/order/update"
                        console.log(data.sno)
                        var params={
                            "oid" : data.oid,
                            "stat":'已发货'
                        }
                        $.post(url,params, function (response) {
                            if (response == 0){
                                layer.msg("发货失败")

                            }else {
                                layer.msg("发货成功")
                                table.reload('shop_list');
                            }
                        })

                        layer.close(index);
                    });
                } else if(obj.event === 'edit'){
                    layer.open({
                        type: 2,
                        area:['500px','500px'],
                        title:'编辑',
                        content: contextpath + "admin/shop/shop_edit?sno=" + data.sno
                    })
                    console.log(layer.index)

                }
            });

            form.on('submit(search)', function (data) {
                table.reload('shop_list',{
                    page: {
                        curr: 1
                    },
                    where:{
                        "search" : data.field.oid
                    }
                }, 'data')
                return false;
            });
        })
</script>


</body>
</html>